/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --card-title-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --title-decor-color: #000028;
  --section-title-color: #ff0070;
  --cover-image: url(../images/cover-image-dark.png);
  --bg-color: #000028; /* Основной тон тёмного фона */
  --button-hover-color: rgb(255 0 112 / 0.4);
  --button-border-color: #ff0070;
  --title-shadow: 4px 4px 0 var(--accent-color);
  --link-shadow: 2px 2px 0 var(--accent-color);
}

:root.theme-dark .header__rec,
:root.theme-dark .header__rec::after {
  display: flex;
  visibility: visible;
}

@media (prefers-color-scheme: dark) {
  /* стили в медиазапросе предпочтений пользователя
  */

  :root {
    --cover-image: url(../images/cover-image-dark.png);
    --bg-color: #000028;
    --accent-color: #ff0070;
    --card-title-color: #000028;
    --text-color: #f1b2ce;
    --title-color: #db00ff;
    --title-decor-color: #000028;
    --section-title-color: #ff0070;
    --button-hover-color: rgb(255 0 112 / 0.4);
    --button-border-color: #ff0070;
    --title-shadow: 4px 4px 0 var(--accent-color);
    --link-shadow: 2px 2px 0 var(--accent-color);
  }

  .header__rec,
  .header__rec::after {
    display: flex;
    visibility: visible;
  }
}
