/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

:root.theme-light {
  --cover-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --card-title-color: #353430;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --title-decor-color: #353430;
  --section-title-color: #353430;
  --button-hover-color: rgb(50 49 45 / 0.4);
  --button-border-color: #353430;
  --title-shadow: 4px 4px 0 var(--accent-color);
  --link-shadow: 2px 2px 0 var(--accent-color);
}

@media (prefers-color-scheme: light) {
  /* стили в медиазапросе предпочтений пользователя
  */

  :root {
    --accent-color: #ff8dcb;
    --card-title-color: #353430;
    --content-text-color: #353430;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --title-decor-color: #353430;
    --bg-color: #fff1f7;
    --cover-image: url(../images/cover-image-light.png);
    --section-title-color: #353430;
    --button-hover-color: rgb(50 49 45 / 0.4);
    --button-border-color: #353430;
    --title-shadow: 4px 4px 0 var(--accent-color);
    --link-shadow: 2px 2px 0 var(--accent-color);
  }
}
